/* Defaults */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
fieldset,
input,
legend,
select,
textarea {
  appearance: none;
}

/* End of Defaults */

:root {
  --initialRotateX: -15deg;
  --initialRotateY: -37deg;
  --defaultBoxTranslations: translateZ(100px) translateY(-100px)
    translateX(-100px);
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  margin: auto;
  perspective: 600px;
  overflow: hidden;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(var(--initialRotateX)) rotateY(var(--initialRotateY));
}

@keyframes rotateToFace {
  0% {
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}

.box.homeActive {
  animation: rotateToFace 1s ease-in-out 0s 1 normal forwards;
}

.box-face {
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0);
  color: white;
  user-select: none;
}

.box .frontFace {
  transform: rotateY(0deg) var(--defaultBoxTranslations);
  transform-style: preserve-3d;
}
.box .frontRear {
  transform: translateZ(-1px);
}

.box .rightFace {
  transform: rotateY(90deg) var(--defaultBoxTranslations);
  transform-style: preserve-3d;
}
.box .rightRear {
  transform: translateZ(-1px);
}

.box .backFace {
  transform: rotateY(180deg) var(--defaultBoxTranslations);
  transform-style: preserve-3d;
}
.box .backRear {
  transform: translateZ(-1px);
}

.box .leftFace {
  transform: rotateY(-90deg) var(--defaultBoxTranslations);
  transform-style: preserve-3d;
}
.box .leftRear {
  transform: translateZ(-1px);
}

.box .topFace {
  transform: rotateX(90deg) var(--defaultBoxTranslations);
  transform-style: preserve-3d;
}
.box .topRear {
  transform: translateZ(-1px);
}

.box .bottomFace {
  transform: rotateX(-90deg) var(--defaultBoxTranslations);
  transform-style: preserve-3d;
}
.box .bottomRear {
  transform: translateZ(-1px);
}

.box-face.rear {
  border: 1px solid silver;
}
